# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Debug
Release

*.VC.db
*.ipch
*.uso
/repos/CodingInterview/.vs/CodingInterview/v16
/CPP_Study/.vs/CPP_Study/v16
/repos/Level3_test/.vs/Level3_test/v16
/DesignPattern/.vs/DesignPattern/v16
/Algoritm/.vs/Algoritm/v16/Solution.VC.db-wal
/Algoritm/.vs/Algoritm/v16/Solution.VC.db-shm
/Algoritm/.vs/Algoritm/v16/Browse.VC.opendb
/Algoritm/.vs/Algoritm/v16/Browse.VC.db-wal
/Algoritm/.vs/Algoritm/v16/Browse.VC.db-shm
/Server/Server/.vs/Server/v16
/DirectXPractice/.vs/DirectXPractice/v16
*.cso
